<html>
<head>
    <title>Open Graph Getting Started App - og.likes</title>
   
    <meta charset="UTF-8">
</head>
<body>
    <!--<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1697499263818405',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        function sharefeed() {

            FB.ui({
                method: 'feed',
                link: 'http://localhost:1450/views/feed.html',
                caption: 'An example caption',
            }, function (response) { });
        }
    </script>-->
    <a href="https://www.facebook.com/dialog/feed?app_id=1697499263818405&link=https://developers.facebook.com/docs/reference/dialogs/&picture=http://www.yearofmoo.com/images/site/mookins/3.png&name=Facebook%20Dialogs&caption=Reference%20Documentation&description=Using%20Dialogs%20to%20interact%20with%20users.&redirect_uri=http://localhost:1397/views/fbgame.html&display=popup">ttt</a>
</body>
</body>
</html>