<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title></title>
    <meta property="og:title" content="2015 myanmar election" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.yearofmoo.com/2012/10/more-angularjs-magic-to-supercharge-your-webapp.html" />
    <meta property="og:image" content="http://www.yearofmoo.com/images/site/mookins/3.png" />
    <meta property="og:site_name" content="My Company Name" />
    <meta property="fb:app_id" content="1697239363844395" />
    <meta property="og:description" content="A description of our services and company profile." />
</head>
<body>

</body>
</html>
